<h1>Vitrage demo</h1>
<p>
  Vitrage is web-page content management system for Rails, based on separated content pieces.
  <a href="https://github.com/dymio/vitrage">Github page</a> of the project.
</p>
<p>
  Use button below to get your personal page to try Vitrage.
  Every page has uniq url and visible to anyone who knows it.
</p>
<%= form_tag pages_path do %>
  <%= submit_tag "Create page" %>
<% end %>
<p>&nbsp;</p>
